<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wangdasong.scwauthserver.dao.persistence.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.github.wangdasong.scwauthserver.dao.entity.RolePermission" >
    <id column="RP_ID" property="id" />
    <result column="RP_ROLE_ID" property="roleId" />
    <result column="RP_PERMISSION_ID" property="permissionId" />
    <association property="permission" javaType="com.github.wangdasong.scwauthserver.dao.entity.Permission" resultMap="com.github.wangdasong.scwauthserver.dao.persistence.PermissionMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List" >
    RP.ID AS RP_ID,
    RP.ROLE_ID AS RP_ROLE_ID,
    RP.PERMISSION_ID AS RP_PERMISSION_ID
  </sql>

  <select id="getPermissionIdList" resultType="java.lang.String" parameterType="java.lang.String" >
    select RP.PERMISSION_ID
    from SYS_ROLE_PERMISSION RP
    where RP.ROLE_ID= #{roleId}
  </select>
  
  <insert id="create" parameterType="com.github.wangdasong.scwauthserver.dao.entity.RolePermission" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        <if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='oracle'">
            SELECT SYS_GUID() AS ID FROM DUAL
        </if>
        <if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='mysql'">
            SELECT REPLACE(UUID(),'-','') FROM DUAL;
        </if>
    </selectKey>
    insert into SYS_ROLE_PERMISSION
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    ID,
            </if>
            <if test="roleId != null" >
                    ROLE_ID,
            </if>
            <if test="permissionId != null" >
                    PERMISSION_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    #{id},
            </if>
            <if test="roleId != null" >
                    #{roleId},
            </if>
            <if test="permissionId != null" >
                    #{permissionId},
            </if>
        </trim>
  </insert>
  
  
  
  
  
  
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select   <include refid="Base_Column_List" />
    from SYS_ROLE_PERMISSION RP
    where RP.ID= #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from SYS_ROLE_PERMISSION
    where ID = #{id}
  </delete>

  <insert id="save" parameterType="com.github.wangdasong.scwauthserver.dao.entity.RolePermission" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        SELECT SYS_GUID() AS ID FROM DUAL
    </selectKey>
    insert into SYS_ROLE_PERMISSION
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    ID,
            </if>
            <if test="roleId != null" >
                    ROLE_ID,
            </if>
            <if test="permissionId != null" >
                    PERMISSION_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    #{id},
            </if>
            <if test="roleId != null" >
                    #{roleId},
            </if>
            <if test="permissionId != null" >
                    #{permissionId},
            </if>
        </trim>
  </insert>

  <update id="update" parameterType="com.github.wangdasong.scwauthserver.dao.entity.RolePermission" >
    update SYS_ROLE_PERMISSION
    <set>
      <if test="roleId != null" > 
        ROLE_ID = #{roleId},
      </if> 
      <if test="permissionId != null" > 
        PERMISSION_ID = #{permissionId},
      </if> 
    </set>
    where ID = #{id}
  </update>

    <sql id="Find_Page_Base_Sql" >
        FROM SYS_ROLE_PERMISSION RP
        LEFT JOIN SYS_PERMISSION PRI ON RP.PERMISSION_ID = PRI.ID
        <where>
            <trim prefixOverrides="AND |OR ">
                <if test="options.id!=null">
                    AND RP.ID='${options.id}'
                </if>
                <if test="options.roleId!=null">
                    AND RP.ROLE_ID='${options.roleId}'
                </if>
                <if test="options.permissionId!=null">
                    AND RP.PERMISSION_ID='${options.permissionId}'
                </if>
            </trim>
        </where>
    </sql>

    <sql id="Sort_Page_Base_Sql" >
        <if test="pageSort!=null">
            order by 
            <foreach item="item" index="index" collection="pageSortArray" separator="," >
                <if test="item=='id'">
                    ID
                </if>
                <if test="item=='id desc'">
                    ID DESC
                </if>
                <if test="item=='roleId'">
                    ROLE_ID
                </if>
                <if test="item=='roleId desc'">
                    ROLE_ID DESC
                </if>
                <if test="item=='permissionId'">
                    PERMISSION_ID
                </if>
                <if test="item=='permissionId desc'">
                    PERMISSION_ID DESC
                </if>
            </foreach>
        </if>
    </sql>

    <select id="findPageData" parameterType="com.github.wangdasong.scwbasecore.utils.paging.Pagination" resultMap="BaseResultMap">
        <if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='oracle'">
        	<include refid="oraclesplit_prefix" />
        </if>
	    <if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='mysql'">
        	select
        </if>
        <include refid="Base_Column_List" />,
        <include refid="com.github.wangdasong.scwauthserver.dao.persistence.PermissionMapper.Base_Column_List" />
        <include refid="Find_Page_Base_Sql" />
		<include refid="Sort_Page_Base_Sql" />
		<if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='oracle'">
        	<include refid="oraclesplit_suffix" />
        </if>
		<if test="@com.github.wangdasong.scwauthserver.dao.entity.RolePermission@dbDialog=='mysql'">
        	<include refid="mysqlsplit_suffix" />
        </if>
    </select>
    <sql id="oraclesplit_prefix">
        select * from ( select row_.*, rownum rownum_ from (select 
    </sql>
    <sql id="oraclesplit_suffix">
        )row_ where rownum &lt;= #{oracle_maxrow}) where rownum_ > #{oracle_minrow}
    </sql>
    <sql id="mysqlsplit_suffix">
    	limit #{oracle_minrow}, #{pageSize}
    </sql>
    
    
    
    <select id="getCount" parameterType="com.github.wangdasong.scwbasecore.utils.paging.Pagination" resultType="int">
        select count(*) 
        <include refid="Find_Page_Base_Sql" />
    </select>


</mapper>
