<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wangdasong.scwproviderwebeditor.dao.persistence.ProviderConfigMapper" >
  <resultMap id="BaseResultMap" type="com.github.wangdasong.scwproviderwebeditor.dao.entity.ProviderConfig" >
    <id column="SPC_ID" property="id" />
    <result column="SPC_CODE" property="code" />
    <result column="SPC_WEIGHT" property="weight" />
    <result column="SPC_IP" property="ip" />
    <result column="SPC_PORT" property="port" />
    <result column="SPC_REMARK" property="remark" />
  </resultMap>

  <sql id="Base_Column_List" >
    SPC.ID AS SPC_ID,
    SPC.CODE AS SPC_CODE,
    SPC.WEIGHT AS SPC_WEIGHT,
    SPC.IP AS SPC_IP,
    SPC.PORT AS SPC_PORT,
    SPC.REMARK AS SPC_REMARK
  </sql>

  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select   <include refid="Base_Column_List" />
    from SMS_PROVIDER_CONFIG SPC
    where SPC.ID= #{id}
  </select>
  <select id="getListByCondition" resultMap="BaseResultMap" parameterType="com.github.wangdasong.scwproviderwebeditor.dao.entity.ProviderConfig" >
    select   <include refid="Base_Column_List" />
    from SMS_PROVIDER_CONFIG SPC
    <where>
            <trim prefixOverrides="AND |OR ">
                <if test="id!=null">
                    AND SPC.ID='${id}'
                </if>
                <if test="code!=null">
                    AND SPC.CODE='${code}'
                </if>
                <if test="weight!=null">
                    AND SPC.WEIGHT='${weight}'
                </if>
                <if test="ip!=null">
                    AND SPC.IP='${ip}'
                </if>
                <if test="port!=null">
                    AND SPC.PORT='${port}'
                </if>
                <if test="remark!=null">
                    AND SPC.REMARK='${remark}'
                </if>
            </trim>
        </where>
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from SMS_PROVIDER_CONFIG
    where ID = #{id}
  </delete>

  <insert id="save" parameterType="com.github.wangdasong.scwproviderwebeditor.dao.entity.ProviderConfig" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        SELECT REPLACE(UUID(),'-','');
    </selectKey>
    insert into SMS_PROVIDER_CONFIG
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    ID,
            </if>
            <if test="code != null" >
                    CODE,
            </if>
            <if test="weight != null" >
                    WEIGHT,
            </if>
            <if test="ip != null" >
                    IP,
            </if>
            <if test="port != null" >
                    PORT,
            </if>
            <if test="remark != null" >
                    REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                    #{id},
            </if>
            <if test="code != null" >
                    #{code},
            </if>
            <if test="weight != null" >
                    #{weight},
            </if>
            <if test="ip != null" >
                    #{ip},
            </if>
            <if test="port != null" >
                    #{port},
            </if>
            <if test="remark != null" >
                    #{remark},
            </if>
        </trim>
  </insert>

  <update id="update" parameterType="com.github.wangdasong.scwproviderwebeditor.dao.entity.ProviderConfig" >
    update SMS_PROVIDER_CONFIG
    <set>
      <if test="code != null" > 
        CODE = #{code},
      </if> 
      <if test="weight != null" > 
        WEIGHT = #{weight},
      </if> 
      <if test="ip != null" > 
        IP = #{ip},
      </if> 
      <if test="port != null" > 
        PORT = #{port},
      </if> 
      <if test="remark != null" > 
        REMARK = #{remark},
      </if> 
    </set>
    where ID = #{id}
  </update>

    <sql id="Find_Page_Base_Sql" >
        FROM SMS_PROVIDER_CONFIG SPC
        <where>
            <trim prefixOverrides="AND |OR ">
                <if test="options.id!=null">
                    AND SPC.ID='${options.id}'
                </if>
                <if test="options.code!=null">
                    AND SPC.CODE='${options.code}'
                </if>
                <if test="options.weight!=null">
                    AND SPC.WEIGHT='${options.weight}'
                </if>
                <if test="options.ip!=null">
                    AND SPC.IP='${options.ip}'
                </if>
                <if test="options.port!=null">
                    AND SPC.PORT='${options.port}'
                </if>
                <if test="options.remark!=null">
                    AND SPC.REMARK='${options.remark}'
                </if>
            </trim>
        </where>
    </sql>

    <sql id="Sort_Page_Base_Sql" >
        <if test="pageSort!=null">
            order by 
            <foreach item="item" index="index" collection="pageSortArray" separator="," >
                <if test="item=='id'">
                    ID
                </if>
                <if test="item=='id desc'">
                    ID DESC
                </if>
                <if test="item=='code'">
                    CODE
                </if>
                <if test="item=='code desc'">
                    CODE DESC
                </if>
                <if test="item=='weight'">
                    WEIGHT
                </if>
                <if test="item=='weight desc'">
                    WEIGHT DESC
                </if>
                <if test="item=='ip'">
                    IP
                </if>
                <if test="item=='ip desc'">
                    IP DESC
                </if>
                <if test="item=='port'">
                    PORT
                </if>
                <if test="item=='port desc'">
                    PORT DESC
                </if>
                <if test="item=='remark'">
                    REMARK
                </if>
                <if test="item=='remark desc'">
                    REMARK DESC
                </if>
            </foreach>
        </if>
    </sql>

    <select id="findPageData" parameterType="com.github.wangdasong.scwbasecore.utils.paging.Pagination" resultMap="BaseResultMap">
        	select
        <include refid="Base_Column_List" />
        <include refid="Find_Page_Base_Sql" />
		<include refid="Sort_Page_Base_Sql" />
        	<include refid="mysqlsplit_suffix" />
    </select>
    <sql id="oraclesplit_prefix">
        select * from ( select row_.*, rownum rownum_ from (select 
    </sql>
    <sql id="oraclesplit_suffix">
        )row_ where rownum &lt;= #{oracle_maxrow}) where rownum_ > #{oracle_minrow}
    </sql>
    <sql id="mysqlsplit_suffix">
    	limit #{oracle_minrow}, #{pageSize}
    </sql>
    <select id="getCount" parameterType="com.github.wangdasong.scwbasecore.utils.paging.Pagination" resultType="int">
        select count(*) 
        <include refid="Find_Page_Base_Sql" />
    </select>


</mapper>
