<!--
模板控件部分代码-----开始
-->
<div ng-if="template == 'true'" class="configuration">
	<span class="drag label"><i class="icon-move"></i>拖动</span>
	<a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a>
	<button type="button" class="btn btn-minier" data-target="#editorModal" role="button" data-toggle="modal" ng-click="saveWidgetInfo(id)">存档</button>

	<span class="btn-group">
		<a class="btn btn-minier dropdown-toggle" data-toggle="dropdown">固定元素 <span class="caret"></span></a>
		<ul class="dropdown-menu  multi-level"  role="menu"  aria-labelledby="dropdownMenu">
	  		<li class="dropdown-submenu" ng-repeat="element in elements">
				<a href="javascript:void(0);" rel="">{{element.label}}</a>
				<ul class="dropdown-menu">
					<form>
						<li>
						   <label>选项标签</label>
						   <input type="button" ng-click="updateElementAttData(id, element.id, 'ELEMENT_LABEL', element.label)" value="确认"/>
							<input type="text" name=""  ng-model="element.label">
						</li>
						<li>
						   <label>选项值</label>
						   <input type="button" ng-click="updateElementAttData(id, element.id, 'ELEMENT_VALUE', element.value)" value="确认"/>
						   <input type="text" name=""  ng-model="element.value">
						</li>
						<li>
						   <input type="reset" value="重置">
						</li>
					</form>
				</ul>
			</li>
	  		<li>
				<button class="col-lg-12 col-md-12 col-sm-12 btn-info" ng-click="addSampleElementToWidget(id);">添加</button>
			</li>
		</ul>
	</span>

	<span class="btn-group">
	<a class="btn btn-minier dropdown-toggle" data-toggle="dropdown">属性 <span class="caret"></span></a>
	<ul class="dropdown-menu  multi-level"  role="menu"  aria-labelledby="dropdownMenu">
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">控件标签</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name=""  ng-model="label"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" ng-click="updateWidgetAttData(id, 'INPUT_LABEL', label)" value="确认"/></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">控件编码</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name="" ng-model="code"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" ng-click="updateWidgetData(id, 'code', code)" value="确认"/></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">控件名称</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name="" ng-model="name"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" ng-click="updateWidgetAttData(id, 'INPUT_NAME', name);updateWidgetData(id, 'name', name);" value="确认"/></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="#" rel="">排序</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name=""  ng-model="sort"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" value="确认" ng-click="updateWidgetData(id, 'sort', sort)" /></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">控件长度</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name=""  ng-model="width"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" value="确认" ng-click="updateWidgetAttData(id, 'INPUT_WIDTH', width)" /></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">服务名称</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name=""  ng-model="serviceName"></li>
			   <li>
				   <input type="reset" value="重置">
				   <input type="button" value="确认" ng-click="updateWidgetAttData(id, 'INPUT_SERVICE_NAME', serviceName)" />
			   </li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">初始查询条件</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name="" ng-model="queryConditionStr"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" value="确认" ng-click="updateWidgetAttData(id, 'INPUT_QUERY_CONDITION', queryConditionStr)" /></li>
			  </form>
		  </ul>
	  </li>
	  <li class="dropdown-submenu">
		  <a href="javascript:void(0);" rel="">级联条件</a>
		  <ul class="dropdown-menu">
			  <form>
			   <li><input type="text" name="" ng-model="cascadeStr"></li>
			   <li><input type="reset" value="重置">
				   <input type="button" value="确认" ng-click="updateWidgetAttData(id, 'INPUT_CASCADE', cascadeStr)" /></li>
			  </form>
		  </ul>
	  </li>
	</ul>
	</span>
</div>
<div  ng-if="template == 'true'" class="preview">复选框 <span class="drag label"><i class="icon-move"></i>拖动</span></div>
<!--
模板控件部分代码-----结束
-->
<div style="background-color: {{template == 'true' ? '#F0FFFF' : '#FFFFFF'}}"  class="view form-horizontal form-group col-lg-{{width}} col-md-{{width}} col-sm-{{width}}" widgetId="{{id}}" containerId="{{containerId}}" addElement=true canEditFlag="widgetEditElement">
	<label class="control-label input-sm col-lg-4 col-md-4 col-sm-4 field-title no-padding-right blue">{{label}}</label>
	<div class="col-lg-8 col-md-8 col-sm-8 field-input">
		<label ng-repeat="element in elements">
			<div class="checkbox" style="padding-top:0px;">
				<label elementId="{{element.id}}" canEditFlag="elementEditElement">
					<input type="checkbox" id="input{{element.id}}" name="{{name}}" ng-checked="element.checked" value="{{element.value}}" class="ace" ng-click="changeValue(element.id)"/>
					<span class="lbl" id="span{{element.id}}">{{element.label}}</span>
				</label>
			</div>
		</label>
	</div>
</div>